.cart-container {
  margin-top: 100px;
  display: flex;
  width: 350px;
  height: auto;
  background-color: white;
  flex-direction: column;
  color: black;
  border: 1px solid black;
}

.cart-h2 {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 10px;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  background-color: grey;

  width: 20%;
}

.cart-product-info-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart-main-image-0 {
  border-radius: 15%;
  padding-top: 10px;
  height: 100px !important;
  width: 100px !important;
}

.cart-main-image-1 {
  display: none;
}

.quantity-container {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-evenly;
  background-color: white;
  border: 1px solid grey;
  height: 25px;
  width: 50px;
}

.item-quantity-text {
  padding-top: 1px;
  font-size: 15px;
}

.quantity-btn {
  padding: 4px;
  background-color: white;
  border: none;
  color: black;
}

.quantity-btn:hover {
  background-color: grey;
}

.subtotal-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.subtotal-text {
  font-size: 20px;
  color: black;
}

.subtotal-num {
  font-size: 20px;
  color: red;
}

@media only screen and (max-width: 499px) {
  .cart-container {
    margin-top: 50px;
    display: flex;
    width: 80%;
    height: auto;
    background-color: white;
    flex-direction: column;
    color: black;
    border: 1px solid black;
  }
}

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .cart-container {
    margin-top: 50px;
    display: flex;
    width: 60%;
    height: auto;
    background-color: white;
    flex-direction: column;
    color: black;
    border: 1px solid black;
  }
}
