.form-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  margin: 200px;
  width: 30%;
  background-color: #d9dddc;
}

.create-account-button {
  text-decoration: none;
  color: red;
}

.create-account-button:hover {
  text-decoration: underline;
  color: red;
}

.confirmation-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 50px;
}
.register-confirmation-buttons-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 50px;
}

.login-h2 {
  margin-top: 20px;
}
.register-h2 {
  margin-top: 20px;
}

.login-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-form-h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-input {
  font-size: 13px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid white;
  width: 50%;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
}
.register-input {
  font-size: 13px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid white;
  width: 50%;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
}

.product-form-input {
  font-size: 13px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid white;
  width: 50%;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
}

.edit-form-input {
  font-size: 13px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid white;
  width: 100%;
  height: 30px;
  outline: none;
  margin-bottom: 10px;
}

.form-login-button {
  background-color: #008000;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.form-register-button {
  background-color: #008000;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.form-cancel-button {
  background-color: #500000;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.form-register-button:hover {
  background-color: #009900;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.form-register-cancel-button:hover {
  background-color: #ff0000;
}

.form-register-cancel-button {
  background-color: #500000;
  width: auto;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.form-login-button:hover {
  background-color: #009900;
}

.form-cancel-button:hover {
  background-color: #ff0000;
}

.add-cancel-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-button {
  background-color: #006600;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: #500000;
  width: 140px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #009900;
}

.cancel-button:hover {
  background-color: #ff0000;
}

.photo-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

/* Found out how to style a input with type "file" here:  https://www.viget.com/articles/styling-native-file-upload-input-field/ */

.file-input {
  border: none;
}

input[type="file"] {
  border: none;
  outline: none;
  background-color: white;
}

input::file-selector-button {
  border: none;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  padding: 0.5em;
  transition-duration: 0.8s;
  border-radius: 3px;
}

input::file-selector-button:hover {
  border: none;
  font-weight: bold;
  background-color: #0056b3;
  padding: 0.5em;
  border-radius: 3px;
  transition-duration: 0.8s;
}

.file-label {
  background-color: #007bff;
  color: #fff;
  height: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.input-label-conatiner {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.edit-label {
  color: black;
  font-size: 15px;
  width: 40%;
}

@media only screen and (max-width: 499px) {
  .form-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    align-items: center;
    margin: 200px;
    width: 80%;
    background-color: #d9dddc;
  }
}

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .form-container {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    align-items: center;
    margin: 200px;
    width: 60%;
    background-color: #d9dddc;
  }
}
