html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  overflow: auto;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

.green-button {
  background-color: #00ff2f;
  color: white;
  text-decoration: none;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.blue-button {
  background-color: #0048ff;
  color: white;
  text-decoration: none;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.red-button {
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.green-button:hover {
  background-color: #2fef2f;
  color: white;
  text-decoration: none;
}

.blue-button:hover {
  background-color: #3c6ff1;
  color: white;
  text-decoration: none;
}

.red-button:hover {
  background-color: #fa4949;
  color: white;
  text-decoration: none;
}

.del-button {
  color: white;
  background-color: red;
  text-decoration: none;
  margin: 5px;
}

.edit-button {
  color: white;
  background-color: #0048ff;
  text-decoration: none;
  margin: 5px;
}

.del-button:hover {
  color: white;
  background-color: #fa4949;
  text-decoration: none;
  margin: 5px;
}

.edit-button:hover {
  color: white;
  background-color: blue;
  text-decoration: none;
  margin: 5px;
}

.history-button {
  text-decoration: none;
  padding: 4px;
  color: white;
  border-radius: 10px;
  background-color: cadetblue;
}

.history-button:hover {
  text-decoration: none;
  color: grey;
  background-color: cyan;
  transition-duration: 1s;
}
.sales-table-container {
  flex-direction: column;
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 100px;
}
.sales-table {
  background-color: aliceblue;
}

.table-container {
  display: flex;
  width: 90%;
  margin-top: 100px;
}

.user-table-container {
  flex-direction: column;
  display: flex;
  max-width: 100%;
  align-items: center;
}
.user-table {
  border-collapse: collapse;
  background-color: lightgrey;
  padding: 1rem;
  width: 100%;
}

.sales-table-container {
  flex-direction: column;
  display: flex;
  max-width: 100%;
  align-items: center;
}
.sales-table {
  border-collapse: collapse;
  background-color: lightgrey;
  padding: 1rem;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

th {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: red;
}

td {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

tr:nth-of-type(2n) {
  background-color: white;
}

@media only screen and (max-width: 499px) {
  .tool-buttons-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }

  .search-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sort-dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  tr {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  th {
    display: none;
  }
  td {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3px;
    text-align: none;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

@media only screen and (min-width: 500px) and (max-width: 999px) {
  .tool-buttons-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }

  .search-box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sort-dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  tr {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  th {
    display: none;
  }
  td {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3px;
    text-align: none;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
