.box-container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  margin: 20px;
  justify-content: space-between;
}

.info-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-info-container {
  display: flex;
  flex-direction: column;
}

.box-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.del-button {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.edit-button {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.atc-button {
  color: white;
  text-decoration: none;
  margin: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  padding: 5px;
}

img {
  width: 100%;
}
