.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-top: 100px;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 50%;
  padding-left: 30px;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.collapsible {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.collapsible:after {
  content: "\002B";
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
}

.collapsible.active + .content {
  max-height: 1000px;
  border-left: 5px solid red;
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pill-button {
  background-color: red;
  border: none;
  border-radius: 10px;
  margin: 10px;
  width: 28%;
  font-weight: bold;
}

.pill-button:active {
  background-color: grey; /* Change color when selected */
}

.quantity {
  width: 7%;
}


.main-image-1
{
  display: none;
}